.page-content--entrepreneurs {
	margin-top: 80px;
	.entrepreneurs-row {
		margin: 0px;
		padding: 0 0px;
		.hlaf-wdth {
			width: 50%;
			max-width: 598px;
			float: left;
			position: relative;
			padding: 0 5px 0px 0;
			overflow: hidden;
			margin-bottom: 10px;
			.img img {
				display: block;
				margin: 0;
				padding: 0;
				max-width: 100%;
				height: auto;
			}
			.overlay {
				display: block;
				position: absolute;
				z-index: 20;
				background: rgba(0, 0, 0, 0.8);
				overflow: hidden;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;
			}
			.overlay {
				bottom: 0;
				left: 0;
				width: ~"calc(100% - 5px )";
				height: 0;
				padding: 0px 35px;
				h5 {
					padding-top: 20px;
					float: left;
					width: 100%;
					color: #fff;
					margin-bottom: 5px;
					font-size: 16px;
					font-weight: 700;
				}
				span {
					width: 100%;
					float: left;
					color: #585756;
					font-size: 14px;
					font-weight: 700;
					margin-bottom: 3px;
					text-transform: uppercase;
					&.red {
						color: #ff4b38;
					}
				}
			}
			&.hover .overlay {
				height: 150px;
			}
			img {
				width: 100%;
				float: left;
			}
			&:nth-child(2n+2) {
				padding: 0 0 0px 5px;
			}
			.over-tex {
				width: ~"calc(100% - 5px )";
				position: absolute;
				height: auto;
				background-color: #eeeeee;
				left: 0;
				bottom: 0;
				padding: 20px 35px;
				h5 {
					float: left;
					width: auto;
					margin: 0px;
					color: #242424;
					font-size: 16px;
					font-weight: 700;
				}
				span {
					width: auto;
					float: right;
					color: #7c7c7c;
					font-size: 14px;
				}
			}
			&:nth-child(2n+2) {
				.over-tex,
				.overlay {
					left: auto;
					right: 0;
				}
			}
			&:hover {
				.over-tex {
					&.white {
						display: none;
					}
				}
			}
			@media(max-width:560px) {
				width: 100%;
				padding: 0px;
				&:nth-child(2n+2) {
					padding: 0px;
				}
				.over-tex,
				.overlay {
					width: 100%;
				}
			}
		}
	}
}

.page-title.aboutus {
	margin-top: 150px;
	margin-bottom: 10px;
	.page-title-image {
		width: 50%;
		float: left;
		text-align: center;
		img {
			max-width: 100%;
			width: auto;
		}
		&.svg {
			img {
				max-width: 72%;
			}
		}
	}
	@media(max-width:767px) {
		margin-top: 100px;
	}
}

.page-title.contactUs {
	margin-top: 150px;
	margin-bottom: 10px;
	.page-title-left {
		width: 27%;
		float: left;
		padding-left: 20px;
		h2 {
			margin: 0px;
			padding: 0px;
			font-family: "lato";
			font-size: 40px;
			font-weight: 700;
			color: #222222;
			margin-bottom: 20px;
		}
		p {
			margin: 0px;
			padding: 0px;
			font-family: "lato";
			font-size: 22px;
			font-weight: 400;
			color: #222222;
			margin-bottom: 20px;
		}
	}
	.contact-form {
		width: 65%;
		float: right;
		margin-right: 10px;
		padding: 45px 70px;
		background-color: #ff4b38;
		.contact-row {
			width: 100%;
			float: left;
			&.btn {
				width: auto;
				float: right;
			}
			.validationError {
				display: none;
				line-height: 26px;
				font-size: 12px;
				color: #e6e4e4;
				width: 100%;
				float: left;
			}
		}
		input,
		textarea {
			color: #fff;
			resize: none;
			border-bottom: 1px solid #fff;
		}
		input[type="submit"] {
			width: auto;
			border-bottom: 0px;
		}
		::-webkit-input-placeholder {
			color: #fff;
		}
		:-moz-placeholder {
			/* Firefox 18- */
			color: #fff;
		}
		::-moz-placeholder {
			/* Firefox 19+ */
			color: #fff;
		}
		:-ms-input-placeholder {
			color: #fff;
		}
	}
	@media(max-width:800px) {
		.page-title-left {
			width: 100%;
			margin-bottom: 35px;
			padding-left: 0px;
		}
		.contact-form {
			width: 100%;
			margin: 0px;
		}
	}
	@media(max-width:767px) {
		margin-top: 100px;
		.page-title-left {
			h2 {
				font-size: 30px;
			}
			p {
				font-size: 18px;
			}
		}
		.contact-form {
			padding: 20px;
		}
	}
}

.page-content--contact--conversation {
	h2.conversation__text {
		color: #1c1c1c
	}
	span.conversation__title {
		color: #757575;
		line-height: 35px;
	}
	@media(max-width:767px) {
		h2.conversation__text {
			font-size: 20px;
		}
		span.conversation__title {
			line-height: 15px;
		}
	}
}

.page-content--contact--locations {
	width: ~"calc(100% - 30px)";
	margin: 100px auto;
	h3.location__name {
		font-size: 26px;
		font-weight: 700;
		padding: 20px 0 0 20px;
	}
	.location__address,
	.location__phone {
		font-size: 16px;
		font-family: "lato";
		font-weight: lighter;
		padding-left: 20px;
	}
	.location__bottom {
		color: #999999;
		border-top: 1px solid #dcdcdc;
		margin-left: 20px;
		width: 90%;
	}
	@media(max-width:800px) {
		.location__address,
		.location__phone,
		.location__name,
		.location__bottom {
			text-align: left;
		}
	}
}

.page-content--contact--join-the-team {
	width: ~"calc(100% - 30px)";
	margin: 0 auto;
	padding-bottom: 65px;
	.join-the-team {
		background-color: #f9f9f9;
		padding: 60px 70px 40px;
		h4 {
			font-size: 30px;
			font-weight: 700;
			color: #5c5c5c;
		}
		p {
			font-size: 21px;
			font-family: 'lato';
			line-height: 34px;
			margin-bottom: 30px;
			width: 80%;
		}
	}
	.openings {
		background-color: #96d3d2;
		padding: 45px 55px;
		min-height: 416px;
		h6 {
			font-size: 14px;
			color: #fff;
			padding-bottom: 10px;
			border-bottom: 1px solid #fff;
			margin-bottom: 30px;
		}
		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;
			li {
				width: 100%;
				display: inline-block;
				margin-bottom: 10px;
				a {
					font-size: 22px;
					font-weight: 500;
					color: #fff;
				}
			}
		}
		@media(max-width:1025px) {
			min-height: 484px;
		}
	}
	@media(max-width:800px) {
		.join-the-team,
		.openings {
			width: 100%;
			min-height: 200px;
		}
	}
	@media(max-width:767px) {
		.join-the-team,
		.openings {
			padding: 15px 40px;
			h4 {
				font-size: 24px;
			}
			p {
				font-size: 18px;
				width: 100%;
				line-height: 26px;
			}
			ul li a {
				font-size: 18px;
			}
		}
	}
}

.page-title--team {
	.page-title__content {
		margin: 200px 0 80px;
	}
	@media(max-width:767px) {
		.page-title__content {
			margin-top: 0px;
			margin-bottom: 50px
		}
	}
}

.about-page {
	margin: 130px 0;
	.aboutus {
		width: 60%;
		float: left;
		padding: 0 50px;
		margin-bottom: 10px;
		@media(max-width: 970px) {
			width: 100%;
			padding: 0px 50px;
		}
		@media(max-width: 600px) {
			padding:0px 20px;
		}
	}
	aside {
		width: 33%;
		max-width: 310px;
		float: right;
		.pageCaption {
			width: 100%;
			padding: 40px 15%;
			background-color: #fc4d40;
			float: left;
			color: #fff;
			font-family: "lato";
			font-size: 22px;
			line-height: 28px;
			font-weight: 400;
			margin-bottom: 10px;
			@media(max-width:600px){
				font-size: 20px;line-height: 26px; 
    			padding: 30px 20px;
			}
		}
		/*.meetTeam {
			width: 100%;
			padding: 100px 15%;
			background-color: #98d2d1;
			float: left;
			color: #111111;
			font-family: "lato";
			font-size: 38px;
			line-height: 46px;
			font-weight: 400;
			margin: 10px 0 0px;
			position: relative;
			a {
				font-size: 14px;
				color: #fff;
				border-color: #fff;
				line-height: 18px;
				position: absolute;
				right: 20px;
				bottom: 20px;
			}
			@media(max-width:768px) {
				padding: 30px 50px 70px;
				font-size: 28px;
				line-height: 36px;
			}
			@media(max-width:600px){
				font-size: 20px;line-height: 26px; 
    			padding: 30px 20px 70px;
				a{
					font-size: 10px;
				}
			}
		}*/
		.about-grid {
			width: 100%;
			padding:0;
			float: left;
			ul {
				list-style: none;
				width: 100%;
				margin: 0px;
				padding: 0px;
				li {
					width: 145px;
					height: 130px;
					padding: 10px;
					position: relative;
					margin-right: 10px; 
					margin-bottom: 10px;
					float: left;
					font-family: "lato";
					background-color: #fff;
					&.textMidle{
						.content-box{
							left: 0;right: 0px;
							margin: auto;
							height: 81px;
							width: 95px;
							top: 0; bottom: 0;
						}
					}
					&.gray{
						background-color: #bfbfbf;
						.title{color:#fff;}
					}
					&.blue{
						background-color: #97d3d3;
							.title{color:#fff;}
					}
					&.longheight{
						height: 205px;
					}
					
					&.meetTeam{
						width: 300px; margin-right: 10px;
						background-color: #e1e1e1;
						padding: 55px 30px 30px 30px; height: auto;
						
						font-size: 22px; line-height: 26px; color: #000;
						
						a {
							font-size: 12px;
							color: #171717; margin-top: 15px;
							border-color: #fff;
							line-height: 14px;
							border: 1px solid #171717;
							
							&:hover{color: #fff;}
						}
					}
					.content-box{
						width: ~"calc(100% - 10px)"; 
						position: absolute; 
						bottom: 10px;
					}
					.title {
						width: 100%;
						float: left; 
						font-size: 40px;
						line-height: 42px;
						font-weight: 700;
					}
					.tag {
						font-size: 14px;
						font-weight: 600;
						line-height: 14px;
					}
					@media(max-width:400px){
						width: 125px;
						.title{
							font-size: 35px;
						}
						&.meetTeam{width: 100%;}
					}
				}
			}
		}
		@media(max-width:970px) {
			width: 100%;
			margin: 0 auto; float: none;
		}
	}
	@media(max-width:970px) {
			margin: 50px 0;
		}
	
}

.team-page {
	margin-bottom: 150px;
	.leftNav {
		width: 32.3%;
		float: left;
		background-color: #f3f3f3;
		padding: 80px 0 200px 80px;
		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;
			width: 100%;
			float: left;
			li {
				width: 100%;
				float: left;
				padding: 5px 0;
				a {
					width: 100%;
					float: left;
					font-size: 18px;
					font-weight: 400;
					color: #2c2c2c;
					font-family: 'Lato';
					&:hover {
						text-decoration: none;
						opacity: .7;
					}
					&.active {
						font-weight: 700;
					}
				}
			}
		}
		@media(max-width:970px) {
			display: none;
		}
	}
	.rightWrapper {
		width: 65%;
		float: right;
		.team-member {
			a {
				img {
					filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
					/* Firefox 3.5+ */
					filter: gray;
					/* IE6-9 */
					-webkit-filter: grayscale(100%);
					/* Chrome 19+ & Safari 6+ */
				}
				&:hover {
					img {
						filter: none;
						-webkit-filter: grayscale(0%);
					}
				}
			}
		}
		@media(max-width: 970px) {
			width: 100%;
		}
	}
	.team-pageCaption {
		background-color: #ff4b38;
		padding: 70px;
		font-family: 'Lato';
		font-size: 30px;
		font-weight: 400;
		color: #110504;
		line-height:37px;
		&.blue {
			background-color: #96d3d2;
		}
		@media(max-width:1100px) {
			padding: 37px;
			font-size: 30px;
		}
		@media(max-width:767px) {
			margin-bottom: 20px;
		}
	}
	&.team-page-details {
		margin-top: 150px;
		.team-pageCaption {
			font-size: 26px;
			line-height: 35px;
			padding: 30px 75px;
			@media(max-width: 900px) {
				padding: 30px;
			}
			@media(max-width:767px) {
				padding: 30px;
				margin-top: 30px;
			}
		}
		.team-member {
			margin-bottom: 0px;
		}
		.bio__content {
			width: 100%;
			float: left;
			padding: 15px;
			h2 {
				color: #fa4e46;
				font-size: 26px;
				font-weight: 700;
			}
			p {
				color: #0f0f0f;
			}
		}
	}
}

.entreprenueurs-page-details {
	margin-bottom: 70px;
	.page-title {
		width: 100%;
		margin-top: 200px;
		float: left;
		margin-bottom: 50px;
		.img {
			width: 70%;
			float: left;
			padding-right: 10px;
			img {
				width: 100%;
			}
			@media(max-width:990px) {
				width: 100%;
				padding: 0px;
				margin-bottom: 10px;
			}
		}
		@media(max-width:1025px) {
			margin-top: 180px;
		}
		@media(max-width:990px) {
			margin-top: 100px;
			margin-bottom: 10px;
		}
	}
	.caption {
		width: 30%;
		float: left;
		background-color: #313131;
		position: relative;
		.captionText {
			width: 150px;
			height: 140px;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			h3 {
				color: #fff;
				font-weight: 700;
				font-size: 36px;
				padding: 0px;
				font-family: 'lato';
				width: 100%;
				float: left;
				margin: 0px 0 10px;
			}
			span {
				color: #777777;
				font-size: 14px;
				font-weight: 700;
				font-family: 'lato';
				width: 100%;
				float: left;
				text-transform: uppercase;
			}
			span.red {
				color: #ee5e44;
				text-transform: inherit;
				margin-top: 5px;
			}
		}
		.url {
			width: auto;
			color: #fff;
			font-size: 14px;
			font-weight: 700;
			font-family: 'lato';
			position: absolute;
			right: 15px;
			bottom: 15px;
			&:hover {
				text-decoration: none;
				opacity: 0.7;
			}
		}
		@media(max-width:990px) {
			width: 100%;
			padding: 10px 0;
			margin-bottom: 10px;
			background-color: transparent;
			.captionText {
				position: relative;
				width: 100%;
				h3 {
					color: #7c7c7c;
				}
			}
		}
	}
	.page-content {
		width: 100%;
		float: left;
		position: relative;
		margin-bottom: 50px;
		.social {
			width: 18%;
			float: left;
			label {
				font-weight: lighter;
				color: #b3b3b3;
				font-size: 14px;
				font-family: 'lato';
			}
			.a2a_button_twitter,
			.a2a_button_linkedin,
			.a2a_button_email {
				width: 25px;
				float: left;
				opacity: .4;
				margin: 10px 20px 0 0;
			}
			@media(max-width:990px) {
				width: 100px;
				padding: 10px 0;
				position: absolute;
				right: 0px;
				top: -185px;
				label {
					width: auto;
					float: left;
				}
				.a2a_kit {
					width: auto;
					float: right;
				}
				.a2a_button_twitter,
				.a2a_button_linkedin,
				.a2a_button_email {
					margin-top: 0px;
					margin-right: 8px;
					width: 19px;
				}
			}
		}
		article {
			width: 64%;
			float: left;
			font-family: "Merriweather";
			font-weight: lighter;
			font-size: 18px;
			padding-left: 20px;
			color: #111;
			line-height: 1.5em;
			h2 {
				margin: 0px 0 10px;
				color: #ff4b38;
				font-family: 'lato';
				font-weight: bold;
				font-size: 36px;
				line-height: 46px;
				width: 100%;
				float: left;
			}
			h6 {
				width: 100%;
				float: left;
				margin: 25px 0 20px;
				font-family: 'lato';
				font-weight: bold;
				font-size: 21px;
			}
			p {
				margin: 15px 0;
				width: 100%;
				float: left;
				&.elevarsTake{
					i{
						    border-left: 5px solid #ff4b37;
    width: 100%;
    display: inline-block;
    padding-left: 20px;
					}
				}
			}
			@media(max-width:990px) {
				width: 100%;
				padding-left: 0px;
			}
			@media(max-width:800px) {
				width: 100%;
				padding-left: 0px;
				h2 {
					font-size: 26px;
					line-height: 34px;
				}
				h6 {
					font-size: 18px;
					line-height: 18px;
				}
				p {
					font-size: 15px;
					line-height: 22px;
				}
			}
		}
		.more {
			display: none;
			width: 100%;
			float: left;
			color: #111111;
			&:hover {
				color: #fff;
			}
			@media(max-width:800px) {
				display: block;
				margin: 30px 0 0;
			}
		}
	}
	.moreEntrPriceTitle {
		width: 18%;
		float: left;
		background-color: #96d3d2;
		padding: 60px 23px;
		color: #fff;
		font-family: "lato";
		font-size: 24px;
		line-height: 25px;
		font-weight: bold;
		@media(max-width: 990px) {
			display: none
		}
	}
	.moreEntrPriceList {
		width: 78%;
		margin-left: 2%;
		float: left;
		padding: 30px 20px 0px;
		border: 1px solid #b3b3b3;
		border-right: 0px;
		border-left: 0px;
		ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
			li {
				width: 150px;
				height: 140px;
				float: left;
				margin-right: 35px;
				&:last-child {
					margin-right: 0px;
				}
				a {
					h3 {
						color: #7c7c7c;
						font-weight: 700;
						font-size: 30px;
						padding: 0px;
						font-family: 'lato';
						width: 100%;
						float: left;
						margin: 0px 0 10px;
					}
					span {
						color: #868686;
						font-size: 14px;
						font-weight: 700;
						font-family: 'lato';
						width: 100%;
						float: left;
						text-transform: uppercase;
					}
					span.red {
						color: #595959;
						text-transform: inherit;
						margin-top: 5px;
					}
					&:hover {
						h3,
						span,
						span.red {
							opacity: .9;
						}
					}
				}
			}
		}
		@media(max-width:990px) {
			display: none
		}
	}
}

@media (max-width:1100px) {
	.team-page.team-page-details .team-pageCaption {
		padding: 20px;
		font-size: 25px;
	}
}