.sprites {
	display: inline-block;
}

.sprites-carat-next,
.sprites-carat-prev,
.sprites-carat-next-black,
.sprites-carat-prev-black {
	width: 12px;
	height: 21px;
}

.sprites-twitter-grey,
.sprites-twitter-black {
	width: 18px;
	height: 14px;
}

.sprites-facebook-black {
	width: 8px;
	height: 15px;
}

.sprites-linkedin-black {
	width: 15px;
	height: 12px;
}

.sprites-facebook-light-grey,
.sprites-twitter-light-grey,
.sprites-linkedin-light-grey,
.sprites-email-light-grey {
	width: 22px;
	height: 22px;
}

.sprites-double-carat-right {
	width: 9px;
	height: 11px;
}

.sprites-phone {
	width: 11px;
	height: 19px;
}